

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    color: lightgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}


.container{
    max-width: 500px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(6, 10, 26, 0.658);
    padding: 20px;
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
    margin: 10px;
}


.options{
    background-color: rgba(34, 36, 48, 0.658);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.btn{
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: chartreuse;
    box-shadow: 5px 5px 15px black;
    transition: 0.1s ease-in;
}

.btn:active{
    transform: scale(0.9);
}

.lenthField{
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 7px;
}


.outputCopyDiv{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}

.outputlabel{
    margin-top: 35px;
    width: 80%;
    height: 40px;
    border-radius:  10px 0 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    border:0;
}

.copyButton{
    width: 20%;
    height: 42px;
    padding: 0;
    margin-top: 35px;
    border-radius:  0 10px 10px 0;
    border:0;
    font-size: 1.3rem;
    background-color: rgba(34, 36, 48, 0.658);
    transition: 0.1s ease-in-out;
    color: white;
}

.copyButton.active{
    transition: 0.5s ease;
    box-shadow: 0 0 15px lightgreen;
    background-color: lightgreen;
    color: green;
}

.copyButton:active{
    transform: scale(0.8);
}
